*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.emotion-test{
    border: solid 1px #e0e2e7;
    width:360px;
    height:503px;
    box-shadow: 0 1.5px 2px rgba(16, 24, 40, 0.1);
    border-radius: 8px;
}
.emotion-test-header{
    padding:24px;
    display: flex;
    flex-direction: column;
    gap:12px;
}
.emotion-test-header h5{
    color:#333843;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.emotion-test-header h6{
    color:#667085;
    margin:0;
    font-size: 14px;
    font-weight: 600;
}
.emotion-test-content{
    padding: 0 24px;
}