* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.admin-user {
    display: flex;
    flex-direction: column;
    padding: 24px 32px;
    gap: 24px;
    
}
.admin-user-header{
    display: flex;
    justify-content: space-between;
}

.admin-user-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.admin-user-title h4 {
    color: #333843;
    font-size: 24px;
    letter-spacing: 0.12px;
    font-weight: 500;
    margin: 0;
}

.admin-user-title h5 {
    color: #2a567a;
    font-size: 14px;
    margin: 0;
}

.admin-user-filter-bar {
    display: flex;
    justify-content: space-between;
}

.admin-filter {
    display: flex;
    gap: 16px;
}
