/* Container tổng */
.emotion-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  text-align: center;
  position: relative;
}

.step-bar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* dàn đều các step */
  margin: 20px auto;              /* căn giữa */
  width: 33%;                     /* chỉ chiếm 1/3 div cha */
}

.step-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ddd;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: all 0.3s;
}


.step-circle.active {
  background-color: #4dabf7; /* màu xanh khi đang ở câu hiện tại */
  color: #fff;
}

.step-circle.done {
  background-color: #69db7c; /* màu xanh lá cho bước đã xong */
  color: #fff;
}

.step-line {
  flex: 1;
  height: 4px;
  background-color: #ddd;
  transition: all 0.3s;
}

.step-line.done {
  background-color: #69db7c; /* xanh lá cho đường nối đã hoàn thành */
}


/* Hộp câu hỏi */
.question-box {
  background-color: #e6f2ff;
  padding: 20px;
  border-radius: 12px;
  text-align: left;
  position: relative;
}

.question-text {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
.btn-save{
    padding: 5px;
    border-radius: 5px;
}
.btn-restart{
    padding: 5px;
    border-radius: 5px;
    margin-left: 20px;
}

/* Danh sách đáp án */
.answer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.answer-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
  margin-bottom: 8px;
}

.answer-item:hover {
  background-color: #d9ecff;
}

.answer-item.selected {
  background-color: #cce5ff;
  font-weight: bold;
}

.answer-item .icon {
  font-size: 20px;
}

/* Châm ngôn */
.quote {
  text-align: center;       /* căn giữa */
  font-style: italic;
  font-weight: 500;
  margin-top: 20px;
  color: #2c3e50;
}


.quote-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}


/* Góc mèo */
.cat-footer {
  position: absolute;
  bottom: -10px;
  right: 10px;
}

.cat-img {
  width: 70px;
  height: auto;
}
.btn-next:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}
.step-actions{
    margin-top: 20px;
}
.btn-prev{
    background-color: #4dabf7;
    padding: 5px;
    border-radius: 5px;
}
.btn-next{
    background-color: #69db7c;
    margin-left: 50px;
    padding: 5px;
    border-radius: 5px;
}