.mini-calendar {
  width: 350px;
  height: 250px;
  background-color: #d9f7ff;
  border-radius: 15px;
  padding: 10px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.mini-calendar .calendar-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.mini-calendar .calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  margin-top: 8px;
  row-gap: 6px; /* khoảng cách giữa các dòng */
}

.mini-calendar .calendar-day {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  cursor: default;
}



.mini-calendar .calendar-day.sat {
  color: red;
}


.mini-calendar .calendar-day.sun {
  color: green;
}

.mini-calendar .calendar-day.selected {
  background-color: #ff6b6b;
  color: white;
}


.mini-calendar .calendar-day.empty {
  color: #999;
}
