*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.consulting-filter{
    background-color: #ebebeb;
    height:67px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin: 0 10px;
}
.consulting-filter h4{
    font-weight: 800;
    font-size: 18px;
}