.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.Head {
  width: 100%;
}

.modal-overlay .modal-content {
  background: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.cat-icon {
  width: 80px;
  height: auto;
  justify-content: center;
}

.modal-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal-submit {
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal-back {
  background-color: transparent;
  color: #555;
}
.modal-back:hover {
  color: #2A567A;
  font-weight: 600;
}

.modal-submit {
  background: #fff;
  color: #2a567a;
  border: 1px solid #2A567A;
}
.modal-submit:hover {
  background: #2a567a;
  color: white;
  font-weight: 600;
}


.modal-back,
.close-button {
  background: none;
  border: none;
  color: #555;
  cursor: pointer;
  float: right;
  text-align: end;
  font-size: 20px;
}

.modal-overlay .modal-content h2 {
  font-size: 20px;
  font-weight: 600;
}

.modal-overlay .modal-content p {
  font-size: 14px;
}

.otp-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.otp-box {
  width: 40px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  border: none;
  border-bottom: 2px solid #555;
}
.otp-box:focus {
  outline: none;
  border-bottom: 3px solid #2A567A;
}
.modal-buttons span {
  font-size: 10px;
  max-width: 200px;
}
.modal-buttons span a {
  color: #2A567A !important;
  font-size: 10px;
  text-decoration: none;
}
.modal-buttons span a:hover {
  text-decoration: underline !important;
  color: #1a3d5f;
}
